<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5bee85bf-4314-4fe8-9cb7-ab4221ce1cc7/resourcegroups/tgamerApiResourceGroup/providers/Microsoft.Web/sites/Apitgamer</ResourceId>
    <ResourceGroup>tgamerApiResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apitgamer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6fa61a35-3e63-4a07-918f-b20f5d039cd8</ProjectGuid>
    <PublishUrl>https://apitgamer.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Apitgamer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>